@use 'pkg:kantanui/styles';

body {
    margin: 0;
    padding: 0;

    @media (prefers-color-scheme: dark) {
        background-color: styles.var(background-color);
        color: styles.var(foreground-color);
    }
}

.layout {
    max-height: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 32px;
    overflow: hidden;
}

main {
    max-height: 100vh;
    overflow: auto;
    line-height: 1.5;
}