@use 'pkg:kantanui/styles';
@use 'pkg:kantanui/styles/media';

body {
    margin: 0;
    padding: 0;

    @media (prefers-color-scheme: dark) {
        background-color: styles.var(background-color);
        color: styles.var(foreground-color);
    }
}

.root {
    @include media.query(gt-md) {
        max-height: 100vh;
        height: 100vh;
        display: grid;
        grid-template-columns: 250px 1fr;
        overflow: hidden;
    }
}

aside,
main {
    padding: styles.var(space-m);
}

aside {
    @include media.query(gt-md) {
        background-color: styles.var(background-secondary-color);
    }
}

main {
    line-height: 1.5;

    @include media.query(gt-md) {
        max-height: 100vh;
        overflow: auto;
        padding: styles.var(space-l);
    }

    h2 {
        margin-top: 0;
    }
}

.logo {
    width: 32px;
    height: 32px;
}

.name {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.photo {
    max-width: 360px;
}